@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
    // Colors:
    --primary-color: #eb1d36;
    --text-color: #2c3639;
    --red-color: #eb1d36;

    // Fonts:
    --font-family: 'Nunito Sans', sans-serif;

    // Size:
    --web-width: 1150px;
    --header-height: 60px;

    // Space:
    --header-padding-horizontal: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background: var(--primary-color);
        color: #fff;
    }
}

html {
    font-size: 62.5%;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-y: overlay;
}

input,
select,
button {
    outline: none;
    border: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
