@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
    // Colors:
    --primary-color: #eb1d36;
    --text-color: #2c3639;

    // Fonts:
    --font-family: 'Nunito Sans', sans-serif;

    // Size:
    --web-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    font-family: var(--font-family);
    color: var(--text-color);
}

input,
select,
button {
    outline: none;
    border: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
