.wrapper {
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    border-top: 1px solid #e9e9e9;
}

.heading {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.account-item {
    padding: 8px;
    display: flex;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 10px;
}

.tick {
    margin-left: 3px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.username {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.6rem;
}

.fullname {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 12px;
}

.footer {
    padding: 0px 8px;
    margin-top: 8px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
}

.loading {
    padding: 0 8px;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
